body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .header {
  height: 100px;
  background: yellow;
}

body .main {
  margin: 20px;
}

body .main label,
body .main input {
  margin: 20px;
}

body .footer {
  height: 100px;
  background: green;
}

